<html content="text/html;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Войти</title>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="login" method="post">
        <label>
            Имя <br/>
            <input name="login" type="text" value="Vasya">
        </label>
        <br/>
        <label>
            Пароль<br/>
            <input name="password" type="password" value="12345">
        </label>
        <br/><br/>
        <input type="submit" value="Перейти к списку пользователей">
    </form>
</div>
</body>
</html>